.box-text{
    margin-left: 40px;
    color: white;
}

.box-card{
    display: flex;
    gap: 30px;
    padding: 40px;
}

.box-left{
    flex: 2;
}

.box-right{
    flex: 1;
    display: block;
}

.card{
    background: #151515;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    color: white;
}

.box-row {
  display: flex;
  gap: 15px;
}

.box-row .card {
  flex: 1;
}

input, select {
  width: 95%;
  margin-top: 10px;
  padding: 10px;
  background: #1f1f1f;
  border: none;
  border-radius: 10px;
  color: white;
}

.row {
  display: flex;
  gap: 15px;
}

.right {
  flex: 1;
}

.box-cover{
  background: #000000;
  border-radius: 15px;
  padding: 20px;
  color: rgb(31, 31, 31);
}

.box-cover p {
  color: white;
}

.upload-box {
  border: 2px dashed #221c1c;
  text-align: center;
  background: #191919;
  border-radius: 15px;
  margin-bottom: 20px;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
  color: white;
  transition: 0.3s;
  padding: 20px;

}

upload-box, img{
  max-width: 300px;
  width: 100%;
}

.upload-box:hover {
  border-color: #ff0000;
  box-shadow: 0 0 40px #3b000044;
}

.publish {
  background: linear-gradient(135deg, rgb(25rgb(170, 0, 0), 0), #0a3);
  text-align: center;
}

.publish button {
  margin-top: 15px;
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 30px;
  background: #ff0000;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 768px) {
  .box-card{
    display:grid;
    justify-content: center;
  }
}