.box1-h3 {
  margin-left: 50px;
  color: white;
  font-family: "Kanit", sans-serif;
  font-weight: 00;
  font-style: normal;
}

.box1 {
  display: flex;
  gap: 20px;
  padding: 10px;
  margin-left: 50px;
  align-items: center; 
  overflow-x: auto; 
}

.box-history {
  min-width: 160px;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px;
  transition: 0.3s;
  width: 10ch;
}

.box-top{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.h3-song {
  color: white;
  font-size: 20px;
   font-family: "Kanit", sans-serif;
  font-weight: 00;
  font-style: normal;
  margin-left: 60px;
  align-self: flex-end;
}

.box-top mat-icon{
  margin-left: auto;
  margin-right: 50px;
  color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-left: auto;
  margin-right: 30px;
}

.dropdown-content {
  position: absolute;
  top: 35px;
  right: 0;
  min-width: 160px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(26, 26, 26, 0.4);
  overflow: hidden;
  z-index: 1000;
  display: none;
}

.dropdown-content.show {
  display: block;
}

.dropdown-content p {
  display: block;
  padding: 12px 15px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.dropdown-content p:hover {
  background: #878686;
  color: rgb(255, 255, 255);
}

.box-history:hover {
  background: #ea1717;
}

.box-songview {
  position: relative; 
  width: 160px;
  height: 160px;
}

.box-songview img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.play-btn-view {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center; 
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  opacity: 0;
  transition: 0.3s;
  font-size: 50px;
  color: rgba(176, 7, 35, 0.634);
}

.box-history:hover .play-btn-view {
  opacity: 1;
}


.box-info {
  margin-top: 8px;
}

.box-info p {
  color: white;
  margin: 2px 0;
  font-size: 14px;
  text-align: center;
}

/* ชื่อเพลง */
.box-info p:first-child {
  font-weight: bold;
}

.box-info p:nth-child(2) {
  color: #aaa;
  font-size: 12px;
}

.box-newsong {
  display: flex;
  justify-content: center; /* 🔥 จัดกลางแนวนอน */
  align-items: center;     /* 🔥 จัดกลางแนวตั้ง */
  flex-wrap: wrap;
  
}

.top-body{
   display: flex;
  align-items: center;
  flex-wrap: nowrap;
  background: #2e2d2d;
  border-radius: 16px;
  padding: 10px;
  width: 100%;
  max-width: 500px;
  margin: 10px;
  transition: 0.3s;
}

.top-body:hover {
  background: #ea1717;
}

.cover {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 12px;
  overflow: hidden;
  margin-right: 12px;
}

.cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.play-btn {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  color: #d63131;
  opacity: 0;
  border-radius: 10px;
  transition: 0.3s;
  font-size: 30px;
}

.top-body:hover .play-btn {
  opacity: 1;
}

.info {
  flex: 1;
}

.info h3 {
  margin: 0;
  color: #e6e6e6;
  font-size: 16px;
}

.info p {
  margin: 2px 0;
  color: #dfdfdf;
  font-size: 14px;
}

.views {
  display: inline-flex;
  align-items: center;
  gap: 4px; 
  font-size: 12px;
  color: #dadada;
}

.views mat-icon {
  font-size: 16px;
  width: 16px;
  height: 16px;
}
.menu {
  font-size: 20px;
  cursor: pointer;
  color: #e5e5e5;
}

@media (max-width: 680px) {
  .top-body{
    max-width: 330px;
    width: 90%;
  }

  .h3-song{
    font-size: 15px;
  }

  .box1-h3{
    font-size: 15px;
  }
}

.skeleton-box,
.sk-text {
  background: linear-gradient(
    90deg,
    #2d2d2d 25%,
    #3f3f3f 50%,
    #2d2d2d 75%
  );
  background-size: 200% 100%;
  animation: skeleton 1.3s infinite;
}

.sk-text {
  border-radius: 8px;
  margin: 8px 0;
}

.sk-title {
  height: 16px;
  width: 80%;
}

.sk-time {
  height: 12px;
  width: 50%;
}

.sk-artist {
  height: 12px;
  width: 60%;
}

.sk-view {
  height: 12px;
  width: 40%;
}

.skeleton-history {
  pointer-events: none;
}

.skeleton-top {
  pointer-events: none;
}

@keyframes skeleton {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}